html{ height: 100%; background-color: black;}
body{ height: 100%; margin: 0; padding: 0; font-family:  'Lato', sans-serif}

.shadow{
  -moz-box-shadow: rgba(0, 0, 0, 0.298039) 0px 1px 4px -1px;
  -webkit-box-shadow: rgba(0, 0, 0, 0.298039) 0px 1px 4px -1px;
  box-shadow: rgba(0, 0, 0, 0.298039) 0px 1px 4px -1px;
}

.overlay {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 2;
    top: 0;
    right: 0;
    background-color: rgb(30,30,30);
    background-color: rgba(30,30,30, 0.85);
    overflow-x: hidden;
    opacity: 0.0;
    transition: 0.5s; 
}

.overlay-content {
    position: fixed;
    top: 15%;
    width: 100%;
    padding-left: 2em;
    text-align: left;
    margin-top: 30px;
    font-family: Roboto, Arial, sans-serif;
}

.overlay a {
    padding: 8px;
    text-decoration: none;
    font-size: 26px;
    color: white;
    display: block;
    transition: 0.3s;
}

.overlay a:hover, .overlay a:active{
    cursor: pointer;
    color: lightblue;
}

.closebtn {
    position: absolute;
    top: 28px;
    right: 8px;
    line-height: 30px;
    padding: 10px;
    font-size: 60px !important;
}

#map { height: 100%; }

#floating-panel {
  position: absolute;
  top: 28px;
  right: 8px;
  z-index: 1;
  font-size: 30px; 
  cursor:pointer;
  color: lightblue;
  background-color: #fff;
  text-align: center;
  line-height: 30px;
  padding: 10px;
  border-radius: 50%;
}
/* media queries, need to add more media queries*/
@media screen and (max-width: 700px) {
  .overlay a 
  {font-size: 16px; 
    padding: 4px;
  }
  .closebtn {
    font-size: 40px !important;
    top: 15px;
  }
  #floating-panel{
    top: 15px;
  }
}
